/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 0.05rem solid #fff;
  margin: 30px;
}

/*
 * Base structure
 */

html {
  margin-left: calc(100vw - 100%);
  margin-right: 0;
}

html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  background-color: #333;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
}

.cover-container {
  max-width: 50em;
}

#cover-heading {
  margin-top: 5rem;
}

.img-fluid {
  border-radius: 2%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.project-img {
  width: 20rem;
  height: 15rem;
  margin-right: 2rem;
  justify-content: center;
}

#profile-pic {
  width: 250px;
  height: 250px;
}

#canvas {
  z-index: -1;
  position: fixed;
}

#input-form {
  padding-top: 10px;
  font-weight: 700;
}

/*
 * Header
 */

.masthead {
  margin-bottom: 0rem;
}

.masthead-brand {
  margin-bottom: 0;
  float: left;
}

.nav-masthead {
  float: right;
}

.nav-masthead .nav-link {
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 2rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media screen and (max-width: 35rem) {
  .nav-masthead {
    float: none;
    display: block;
    text-align: center;
  }
  .nav-link {
    float: none;
    display: block;
    text-align: center;
  }
  .masthead-brand {
    float: none;
  }
  .nav-masthead .nav-link + .nav-link {
    margin-left: 0rem;
  }
}

@media screen and (max-width: 25rem) {
  .nav-masthead {
    margin-bottom: 75px;
  }
}

@media screen and (min-width: 150px) {
  html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
  }
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: 0.75rem 1.25rem;
  font-weight: 700;
}
.lead {
  max-width: 30em;
  font-size: x-large;
}

#portfolio-heading {
  margin-top: 50px;
}

/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, 0.5);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
}

.item {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 20px 1%;
  min-width: 320px;
  max-width: 410px;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  background-color: #2c313b;
  border-radius: 2%;
}

.item:hover {
  cursor: pointer;
}

.item * {
  transition: all 0.35s ease-in-out;
}

img {
  max-width: 100%;
  vertical-align: top;
  height: 310px;
}

.item:hover img {
  opacity: 0;
}

.text {
  width: 80%;
  height: 90%;
  position: absolute;
  top: -120px;
  left: 10%;
  color: #01a2ac;
}

.text h3 {
  color: #f5f5f5;
}

.item:hover .text {
  top: 20%;
}

.item:hover .button {
  bottom: 20%;
}

.item .button {
  position: absolute;
  bottom: -100px;
  left: 25%;
  width: 50%;
  border: 3px solid #01a2ac;
  padding: 15px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background-color: #01a2ac;
  color: #f5f5f5;
}

/* Modal */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #2c313b;
  margin: 5% auto;
  width: 500px;
  max-height: 714px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.scale {
  animation: scale 0.5s;
  animation-fill-mode: forwards;
}

@keyframes scale {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

#img {
  width: 100%;
  height: 450px;
}

#details {
  padding: 25px;
  text-align: left;
  position: relative;
  height: 264px;
  box-sizing: border-box;
  border-top: 1px solid #363638;
}

#details * {
  transition: all 0.3s;
}

#title {
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#details .button {
  position: absolute;
  width: 30%;
  background-color: #01a2ac;
  color: #f5f5f5;
  text-align: center;
  left: 25px;
  bottom: 35px;
  padding: 15px;
}

#details i {
  position: absolute;
  bottom: 30px;
  right: 25px;
  font-size: 3rem;
  color: #01a2ac;
}

#details .button:hover,
i:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* Close Button */
.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: 10px;
}

.close:hover,
.close:focus {
  color: #363638;
  text-decoration: none;
  cursor: pointer;
}
